<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Restore_Point_Creator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Restore_Point_Creator.My.MySettings>
            <setting name="ProgramExecutionsSinceLastUpdateCheck" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeAfterCreatingRestorePoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="confirmRestorePointDeletions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>536, 603</value>
            </setting>
            <setting name="diskUsageWindowSize" serializeAs="String">
                <value>682, 221</value>
            </setting>
            <setting name="dontBugTheUserAboutPuttingTheEXEFileSomewhereSafe"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="column1Size" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="column2Size" serializeAs="String">
                <value>191</value>
            </setting>
            <setting name="column3Size" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="column4Size" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="boolDontBugMeAboutMovingEXE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteOldRestorePoints2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxDaysManualDelete" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="boolLogDeletedRestorePoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="barColor" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logFileViewerWindowSize" serializeAs="String">
                <value>743, 396</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateChannel" serializeAs="String">
                <value>stable</value>
            </setting>
            <setting name="lastUpdateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="checkForUpdatesEveryInDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ShowMessageBoxAfterSuccessfulCreationOfRestorePoint"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMessageBoxAfterSuccessfulDeletionOfRestorePoints"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkSystemDrivesForFullShadowStorage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notificationType" serializeAs="String">
                <value>bal</value>
            </setting>
            <setting name="allowDeleteOfAllRestorePoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eventLogColumn1Size" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="eventLogColumn2Size" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="eventLogColumn3Size" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="eventLogWindowSize" serializeAs="String">
                <value>876, 371</value>
            </setting>
            <setting name="eventLogColumn4Size" serializeAs="String">
                <value>138</value>
            </setting>
            <setting name="eventLogSplitDistance" serializeAs="String">
                <value>418</value>
            </setting>
            <setting name="useSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFullDisksAsRed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useHTTPProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSystemProxyConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="proxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="askToUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolAskMeToSubmitIfViewingAnExceptionEntry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateMessageDialogSize" serializeAs="String">
                <value>788, 334</value>
            </setting>
            <setting name="showPartialBetaChangeLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="column5Size" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="roundRestorePointAgeNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sortingColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortingOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="eventLogSortingColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eventLogSortingOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="mainWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="onlyGiveMeRCs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="askBeforeCreatingRestorePoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mountVolumeShadowCopyWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DeleteOldSystemRestorePointsWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DiskSpaceUsageWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ManageSystemRestoreStorageSpaceWindowLocation"
                serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TaskSchedulerWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="eventLogFormWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="boolFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolShowVersionInWindowTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManuallySubmitCrashDataInstanceLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="changeLogWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="notificationType2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="httpTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="savedRestorePointFromCommandLine" serializeAs="String">
                <value />
            </setting>
            <setting name="multiConfirmRestorePointDeletions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="batchConfirmWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="deleteOldRestorePointCommandLineCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="confirmSmallerRestorePointSpaceSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreThisVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="updateNotificationWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="maxDaysAtRelaunch" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="pleaseWaitBorderColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
        </Restore_Point_Creator.My.MySettings>
    </userSettings>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
</configuration>
